numpy
pandas
pyyaml
opencv-python-headless
Pillow
dotenv
requests
label-studio
torch
torchvision
tqdm
scikit-learn
transformers 
matplotlib
timm
seaborn
datasets>=2.14.0
huggingface_hub>=0.20.0
onnxruntime-gpu

